@page "/"
@inject TranslationService T

<ContactsDrawer @ref="_contactsDrawer"
                OnContactSelected="OnContactSelected" />

<div class="pa-4">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.People"
               OnClick="OpenContactsDrawer">
        @T.Get("Contacts")
    </MudButton>
</div>

@code {
    private ContactsDrawer _contactsDrawer = default!;

    protected override void OnInitialized()
    {
        T.OnLanguageChanged += () => InvokeAsync(StateHasChanged);
    }

    private void OpenContactsDrawer()
    {
        _contactsDrawer.OpenAsync();
    }

    private void OnContactSelected(Contact contact)
    {
        // Will navigate to contact detail later (Commit 7)
    }
}